.Notifications {
  border-style: dashed;
  border-width: 1px;
  border-color: red;
  padding: 10px;
}

ul li[data-notification-type="default"] {
  color: blue;
}

ul li[data-notification-type="urgent"] {
  color: red;
}

button {
  background-color: #66666622;
  border: 0px;
  border-radius: 50%;
}
